#chat-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: transparent; /* quitamos color si quieres solo mostrar imagen */
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

/* Control de tamaño de la imagen */
#chat-toggle img {
  width: 10px;   /* ajusta este valor según el tamaño deseado */
  height: 10px;
  border-radius: 50%; /* si quieres que siga siendo un botón circular */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


#chat-container {
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 300px;
  background: #f5f0e6;
  border: 1px solid #aaa;
  padding: 10px;
  border-radius: 10px;
  z-index: 1000;
}

#chat-messages {
  height: 200px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
}

#chat-input {
  width: 100%;
  padding: 8px;
}
